<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="social-footer">
    <div class="social-footer-icons">
      <a href="https://github.com/angiglesias" title="Github profile" target="_blank"
        rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://es.linkedin.com/in/%C3%A1ngel-iglesias-garc%C3%ADa-bb3020141/en" title="LinkedIn profile" target="_blank"
        rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
</footer>